* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url("images/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.top-container {
  height: 100vh;
  /* background-color: #3dbeff; */
  background-image: url("images/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header-left {
  font-family: "Barlow", sans-serif;
  /* font-family: "Fraunces", serif; */
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 25px;
}

.header-right {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.same-buttons {
  display: flex;
  border: none;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 20px;
  color: black;
  height: 40px;
  width: 100px;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.top-content-text {
  font-family: "Fraunces", serif;
  font-size: 40px;
  color: white;
  font-weight: 900;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  margin-top: 41px;
}

.mid-container {
  display: flex;
  flex-direction: column;
}

.first-box-line {
  display: flex;
}

.left {
  flex: 1;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

.right img {
  max-width: 100%;
  height: auto;
}

.text-one {
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 900;
  color: #263042;
}

.second-box-line {
  display: flex;
}

.left-second {
  flex: 2;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.right-second {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

.left-second img {
  max-width: 100%;
  height: auto;
}

.content {
  font-family: "Barlow", sans-serif;
  color: #88878f;
  font-weight: 600;
  margin-top: 35px;
}

.learnmore {
  font-family: "Fraunces", serif;
  color: #263042;
  font-weight: 700;
  margin-top: 35px;
}
