* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url("images/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.top-container {
  height: 100vh;
  /* background-color: #3dbeff; */
  background-image: url("images/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header-left {
  font-family: "Barlow", sans-serif;
  /* font-family: "Fraunces", serif; */
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 25px;
}

.header-right {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.same-buttons {
  display: flex;
  border: none;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 20px;
  color: black;
  height: 40px;
  width: 100px;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.top-content-text {
  font-family: "Fraunces", serif;
  font-size: 40px;
  color: white;
  font-weight: 900;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  margin-top: 41px;
}

.mid-container {
  display: flex;
  flex-direction: column;
}

.first-box-line {
  display: flex;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right img {
  max-width: 100%;
  height: auto;
}

.text-one {
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 900;
  color: #263042;
}

.second-box-line {
  display: flex;
}

.left-second {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-second {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-second img {
  max-width: 100%;
  height: auto;
}

.content {
  font-family: "Barlow", sans-serif;
  color: #88878f;
  font-weight: 600;
  margin-top: 35px;
}

.learnmore {
  font-family: "Fraunces", serif;
  color: #263042;
  font-weight: 700;
  margin-top: 35px;
}

.third-box-line {
  display: flex;
}

.left-third {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-third {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-third img {
  max-width: 100%;
  height: auto;
}

.right-third img {
  max-width: 100%;
  height: auto;
}

.overlaytext {
  position: absolute;
  margin-top: 250px;
}

.overlayh {
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 900;
  color: #1f5148;
  display: flex;
  justify-content: center;
}

.overlayp {
  font-family: "Barlow", sans-serif;
  color: #427c6e;
  font-weight: 600;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}

.overlayh2 {
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 900;
  color: #1c556c;
  display: flex;
  justify-content: center;
}

.overlayp2 {
  font-family: "Barlow", sans-serif;
  color: #3180a7;
  font-weight: 600;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}
.mid-down-container {
  display: flex;
  flex-direction: column;
}
.mid-down-top {
  display: flex;
  height: 550px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.clienth {
  display: flex;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: #a7abae;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 125px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.card {
  height: 500px;
  width: 300px;
  background-color: white;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
}

.card img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.personelinfos {
  font-family: "Barlow", sans-serif;
  color: #61646d;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  font-size: 15px;
}

.name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23313c;
}

.position {
  font-family: "Barlow", sans-serif;
  color: #aaa9a8;
  font-size: 13px;
  margin-top: -39px;
}

.mid-down-bottom {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 75px;
}

.mid-down-bottom img {
  flex: 1;
  height: 390px;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #90d4c5;
}

.footer-top {
  font-family: "Barlow", sans-serif;
  /* font-family: "Fraunces", serif; */
  font-weight: 700;
  color: #297163;
  font-size: 35px;
  margin-top: 45px;
  line-height: 1.5;
}

.footer-mid {
  display: flex;
  gap: 50px;
}
.footer-buttons {
  display: flex;
  border: none;
  background-color: transparent;
  color: #498d7e;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  margin-bottom: 50px;
  font-size: 16px;
}

.footer-bottom {
  margin-bottom: 45px;
  display: flex;
  gap: 25px;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 320px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-box-line {
    flex-direction: column-reverse;
  }

  .second-box-line {
    flex-direction: column;
  }

  .third-box-line {
    flex-direction: column;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  /* .mid-down-top {
    flex-direction: column;
  } */
}
